USE [Obdelov]
GO
/****** Object:  Table [dbo].[dodlin]    Script Date: 28.8.2020 8:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dodlin](
	[iddod] [smallint] IDENTITY(1,1) NOT NULL,
	[idlin] [tinyint] NULL,
	[dodkratki] [char](10) NULL,
	[dodnaziv] [char](40) NULL,
	[identstruz] [char](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[dodlin] ON 

INSERT [dbo].[dodlin] ([iddod], [idlin], [dodkratki], [dodnaziv], [identstruz]) VALUES (1, 1, N'1         ', N'Stružnica 1                             ', N'21057')
INSERT [dbo].[dodlin] ([iddod], [idlin], [dodkratki], [dodnaziv], [identstruz]) VALUES (2, 1, N'2         ', N'Stružnica 2                             ', N'21058')
INSERT [dbo].[dodlin] ([iddod], [idlin], [dodkratki], [dodnaziv], [identstruz]) VALUES (3, 1, N'3         ', N'Stružnica 3                             ', N'21059')
SET IDENTITY_INSERT [dbo].[dodlin] OFF
