USE [Obdelov]
GO
/****** Object:  Table [dbo].[dodlin]    Script Date: 3.6.2020 7:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dodlin](
	[iddod] [smallint] IDENTITY(1,1) NOT NULL,
	[idlin] [tinyint] NULL,
	[dodkratki] [char](10) NULL,
	[dodnaziv] [char](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[kode]    Script Date: 3.6.2020 7:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kode](
	[idkod] [tinyint] IDENTITY(1,1) NOT NULL,
	[idlin] [tinyint] NULL,
	[koda] [char](18) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[konplan]    Script Date: 3.6.2020 7:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[konplan](
	[idplan] [int] IDENTITY(1,1) NOT NULL,
	[idsar] [smallint] NULL,
	[tip] [int] NULL,
	[pozicija] [char](4) NULL,
	[naziv] [char](40) NULL,
	[predpis] [float] NULL,
	[spmeja] [float] NULL,
	[zgmeja] [float] NULL,
	[kanal] [char](8) NULL,
	[stvz] [tinyint] NULL,
	[stkan] [tinyint] NULL,
	[com] [tinyint] NULL,
	[oznaka] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[konsar]    Script Date: 3.6.2020 7:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[konsar](
	[idsar] [smallint] IDENTITY(1,1) NOT NULL,
	[idkod] [tinyint] NULL,
	[koda] [char](18) NULL,
	[sarza] [char](12) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[linije]    Script Date: 3.6.2020 7:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[linije](
	[idlin] [tinyint] IDENTITY(1,1) NOT NULL,
	[naziv] [char](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[dodlin] ON 

INSERT [dbo].[dodlin] ([iddod], [idlin], [dodkratki], [dodnaziv]) VALUES (1, 1, N'1         ', N'Stružnica 1                             ')
INSERT [dbo].[dodlin] ([iddod], [idlin], [dodkratki], [dodnaziv]) VALUES (2, 1, N'2         ', N'Stružnica 2                             ')
INSERT [dbo].[dodlin] ([iddod], [idlin], [dodkratki], [dodnaziv]) VALUES (3, 1, N'3         ', N'Stružnica 3                             ')
SET IDENTITY_INSERT [dbo].[dodlin] OFF
SET IDENTITY_INSERT [dbo].[kode] ON 

INSERT [dbo].[kode] ([idkod], [idlin], [koda]) VALUES (1, 1, N'18.145.19         ')
INSERT [dbo].[kode] ([idkod], [idlin], [koda]) VALUES (2, 2, N'18.180.19         ')
INSERT [dbo].[kode] ([idkod], [idlin], [koda]) VALUES (3, 2, N'18.180.20         ')
SET IDENTITY_INSERT [dbo].[kode] OFF
SET IDENTITY_INSERT [dbo].[konplan] ON 

INSERT [dbo].[konplan] ([idplan], [idsar], [tip], [pozicija], [naziv], [predpis], [spmeja], [zgmeja], [kanal], [stvz], [stkan], [com], [oznaka]) VALUES (53, 6, 1, N'0010', N'Premer D1 _ zunanji Ř187 ±0,3           ', 187, 186.7, 187.3, N'MP003   ', 2, NULL, NULL, NULL)
INSERT [dbo].[konplan] ([idplan], [idsar], [tip], [pozicija], [naziv], [predpis], [spmeja], [zgmeja], [kanal], [stvz], [stkan], [com], [oznaka]) VALUES (54, 6, 1, N'0030', N'Premer D5 _ nased obro#a Ř180 ±0,25     ', 180, 179.75, 180.25, N'MP003   ', 2, NULL, NULL, NULL)
INSERT [dbo].[konplan] ([idplan], [idsar], [tip], [pozicija], [naziv], [predpis], [spmeja], [zgmeja], [kanal], [stvz], [stkan], [com], [oznaka]) VALUES (55, 6, 1, N'0032', N'Vi#ina roba ulitka 3,5 ±0,15            ', 3.5, 3.35, 3.65, N'MP006   ', 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[konplan] OFF
SET IDENTITY_INSERT [dbo].[konsar] ON 

INSERT [dbo].[konsar] ([idsar], [idkod], [koda], [sarza]) VALUES (6, 2, N'18.180.19         ', N'790000054917')
INSERT [dbo].[konsar] ([idsar], [idkod], [koda], [sarza]) VALUES (8, 1, N'18.145.19         ', N'790000054916')
INSERT [dbo].[konsar] ([idsar], [idkod], [koda], [sarza]) VALUES (10, 4, N'18.220.19         ', N'790000054918')
SET IDENTITY_INSERT [dbo].[konsar] OFF
SET IDENTITY_INSERT [dbo].[linije] ON 

INSERT [dbo].[linije] ([idlin], [naziv]) VALUES (1, N'Linija 145                              ')
INSERT [dbo].[linije] ([idlin], [naziv]) VALUES (2, N'Linija 180                              ')
INSERT [dbo].[linije] ([idlin], [naziv]) VALUES (3, N'Linija 3                                ')
SET IDENTITY_INSERT [dbo].[linije] OFF
