USE [Obdelov]
GO
/****** Object:  Table [dbo].[dodlin]    Script Date: 28.8.2020 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dodlin](
	[iddod] [smallint] IDENTITY(1,1) NOT NULL,
	[idlin] [tinyint] NULL,
	[dodkratki] [char](10) NULL,
	[dodnaziv] [char](40) NULL,
	[identstruz] [char](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[kode]    Script Date: 28.8.2020 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kode](
	[idkod] [tinyint] IDENTITY(1,1) NOT NULL,
	[idlin] [tinyint] NULL,
	[koda] [char](18) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[konplan]    Script Date: 28.8.2020 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[konplan](
	[idplan] [int] IDENTITY(1,1) NOT NULL,
	[idsar] [smallint] NULL,
	[tip] [int] NULL,
	[pozicija] [char](4) NULL,
	[naziv] [char](40) NULL,
	[predpis] [float] NULL,
	[spmeja] [float] NULL,
	[zgmeja] [float] NULL,
	[kanal] [char](8) NULL,
	[stvz] [tinyint] NULL,
	[stkan] [tinyint] NULL,
	[com] [tinyint] NULL,
	[oznaka] [char](1) NULL,
	[preracun] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[konsar]    Script Date: 28.8.2020 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[konsar](
	[idsar] [smallint] IDENTITY(1,1) NOT NULL,
	[idkod] [tinyint] NULL,
	[koda] [char](18) NULL,
	[sarza] [char](12) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[linije]    Script Date: 28.8.2020 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[linije](
	[idlin] [tinyint] IDENTITY(1,1) NOT NULL,
	[naziv] [char](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[meritve]    Script Date: 28.8.2020 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[meritve](
	[ident] [int] IDENTITY(1,1) NOT NULL,
	[idmer] [int] NULL,
	[tip] [tinyint] NULL,
	[poz] [char](4) NULL,
	[stv] [smallint] NULL,
	[vrednost] [decimal](8, 3) NULL,
	[slabi] [smallint] NULL,
	[eval] [char](1) NULL,
	[opomba] [char](60) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[seznamMer]    Script Date: 28.8.2020 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seznamMer](
	[idmer] [int] IDENTITY(1,1) NOT NULL,
	[cas] [datetime] NULL,
	[prenos] [tinyint] NULL,
	[sarza] [char](12) NULL,
	[orodje] [char](20) NULL,
	[dodl] [char](10) NULL,
	[zakljucen] [tinyint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[dodlin] ON 

INSERT [dbo].[dodlin] ([iddod], [idlin], [dodkratki], [dodnaziv], [identstruz]) VALUES (1, 1, N'1         ', N'Stružnica 1                             ', N'21057-1')
INSERT [dbo].[dodlin] ([iddod], [idlin], [dodkratki], [dodnaziv], [identstruz]) VALUES (2, 1, N'2         ', N'Stružnica 2                             ', N'21058-1')
INSERT [dbo].[dodlin] ([iddod], [idlin], [dodkratki], [dodnaziv], [identstruz]) VALUES (3, 1, N'3         ', N'Stružnica 3                             ', N'21059-1')
SET IDENTITY_INSERT [dbo].[dodlin] OFF
SET IDENTITY_INSERT [dbo].[kode] ON 

INSERT [dbo].[kode] ([idkod], [idlin], [koda]) VALUES (1, 1, N'18.145.19         ')
INSERT [dbo].[kode] ([idkod], [idlin], [koda]) VALUES (2, 2, N'18.180.19         ')
INSERT [dbo].[kode] ([idkod], [idlin], [koda]) VALUES (3, 2, N'18.180.20         ')
SET IDENTITY_INSERT [dbo].[kode] OFF
SET IDENTITY_INSERT [dbo].[konplan] ON 

INSERT [dbo].[konplan] ([idplan], [idsar], [tip], [pozicija], [naziv], [predpis], [spmeja], [zgmeja], [kanal], [stvz], [stkan], [com], [oznaka], [preracun]) VALUES (53, 6, 1, N'0010', N'Premer D1 _ zunanji Ř187 ±0,3           ', 187, 186.7, 187.3, N'MP003   ', 1, 1, 4, NULL, N'X')
INSERT [dbo].[konplan] ([idplan], [idsar], [tip], [pozicija], [naziv], [predpis], [spmeja], [zgmeja], [kanal], [stvz], [stkan], [com], [oznaka], [preracun]) VALUES (54, 6, 1, N'0030', N'Premer D5 _ nased obro#a Ř180 ±0,25     ', 180, 179.75, 180.25, N'MP003   ', 1, 1, 4, NULL, N'X')
INSERT [dbo].[konplan] ([idplan], [idsar], [tip], [pozicija], [naziv], [predpis], [spmeja], [zgmeja], [kanal], [stvz], [stkan], [com], [oznaka], [preracun]) VALUES (55, 6, 1, N'0032', N'Vi#ina roba ulitka 3,5 ±0,15            ', 3.5, 3.35, 3.65, N'MP006   ', 1, 1, 4, NULL, N'X')
SET IDENTITY_INSERT [dbo].[konplan] OFF
SET IDENTITY_INSERT [dbo].[konsar] ON 

INSERT [dbo].[konsar] ([idsar], [idkod], [koda], [sarza]) VALUES (6, 2, N'18.180.19         ', N'790000056350')
INSERT [dbo].[konsar] ([idsar], [idkod], [koda], [sarza]) VALUES (8, 1, N'18.145.19         ', N'790000054916')
INSERT [dbo].[konsar] ([idsar], [idkod], [koda], [sarza]) VALUES (10, 4, N'18.220.19         ', N'790000054918')
SET IDENTITY_INSERT [dbo].[konsar] OFF
SET IDENTITY_INSERT [dbo].[linije] ON 

INSERT [dbo].[linije] ([idlin], [naziv]) VALUES (1, N'Linija 145  /pred menjavo               ')
INSERT [dbo].[linije] ([idlin], [naziv]) VALUES (2, N'Linija 180/ pred menjavo                ')
INSERT [dbo].[linije] ([idlin], [naziv]) VALUES (3, N'Linija 3 /pred menjavo                  ')
SET IDENTITY_INSERT [dbo].[linije] OFF
SET IDENTITY_INSERT [dbo].[meritve] ON 

INSERT [dbo].[meritve] ([ident], [idmer], [tip], [poz], [stv], [vrednost], [slabi], [eval], [opomba]) VALUES (1, 3, 1, N'0010', 1, CAST(151.900 AS Decimal(8, 3)), NULL, N'A', NULL)
INSERT [dbo].[meritve] ([ident], [idmer], [tip], [poz], [stv], [vrednost], [slabi], [eval], [opomba]) VALUES (2, 3, 1, N'0010', 2, CAST(151.800 AS Decimal(8, 3)), NULL, N'A', NULL)
INSERT [dbo].[meritve] ([ident], [idmer], [tip], [poz], [stv], [vrednost], [slabi], [eval], [opomba]) VALUES (3, 3, 1, N'0010', 3, CAST(152.100 AS Decimal(8, 3)), NULL, N'A', NULL)
GO
SET IDENTITY_INSERT [dbo].[meritve] OFF
SET IDENTITY_INSERT [dbo].[seznamMer] ON 

INSERT [dbo].[seznamMer] ([idmer], [cas], [prenos], [sarza], [orodje], [dodl], [zakljucen]) VALUES (1, CAST(N'2020-02-03 00:00:00.000' AS DateTime), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[seznamMer] ([idmer], [cas], [prenos], [sarza], [orodje], [dodl], [zakljucen]) VALUES (2, CAST(N'2020-02-03 00:00:00.000' AS DateTime), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[seznamMer] ([idmer], [cas], [prenos], [sarza], [orodje], [dodl], [zakljucen]) VALUES (3, CAST(N'1899-12-30 09:10:42.000' AS DateTime), 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[seznamMer] OFF
