USE [Obdelov]
GO
/****** Object:  Table [dbo].[dodlin]    Script Date: 3.6.2020 7:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dodlin](
	[iddod] [smallint] IDENTITY(1,1) NOT NULL,
	[idlin] [tinyint] NULL,
	[dodkratki] [char](10) NULL,
	[dodnaziv] [char](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[kode]    Script Date: 3.6.2020 7:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kode](
	[idkod] [tinyint] IDENTITY(1,1) NOT NULL,
	[idlin] [tinyint] NULL,
	[koda] [char](18) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[konplan]    Script Date: 3.6.2020 7:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[konplan](
	[idplan] [int] IDENTITY(1,1) NOT NULL,
	[idsar] [smallint] NULL,
	[tip] [int] NULL,
	[pozicija] [char](4) NULL,
	[naziv] [char](40) NULL,
	[predpis] [float] NULL,
	[spmeja] [float] NULL,
	[zgmeja] [float] NULL,
	[kanal] [char](8) NULL,
	[stvz] [tinyint] NULL,
	[stkan] [tinyint] NULL,
	[com] [tinyint] NULL,
	[oznaka] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[konsar]    Script Date: 3.6.2020 7:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[konsar](
	[idsar] [smallint] IDENTITY(1,1) NOT NULL,
	[idkod] [tinyint] NULL,
	[koda] [char](18) NULL,
	[sarza] [char](12) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[linije]    Script Date: 3.6.2020 7:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[linije](
	[idlin] [tinyint] IDENTITY(1,1) NOT NULL,
	[naziv] [char](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
